<div class="video-banner">
  <video autoplay muted loop playsinline>
    <source src="{{ section.settings.video | file_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  fghgfghjhgh {{ section.settings.video}}
</div>

{% schema %}
{
    "name": "Video Banner",
    "tag": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
    "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video",
    }
  ],
    "presets": [
        {
        "name": "Video Banner",
        "category": "Video"
        }
    ]
}
{% endschema %}
